---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>
  
  <div class="date">
    <p style="font-size:12px">
      {{ page.author }} |
      {% assign m = page.date | date: "%-m" %}
      {{ page.date | date: "%-d" }} ב{% case m %}{% when '1' %}ינואר {% when '2' %}פברואר {% when '3' %}מרץ {% when '4' %}אפריל {% when '5' %}מאי {% when '6' %}יוני {% when '7' %}יולי {% when '8' %}אוגוסט {% when '9' %}ספטמבר {% when '10' %}אוקטובר {% when '11' %}נובמבר {% when '12' %}דצמבר {% endcase %} {{ page.date | date: "%Y" }}
    </p>
  </div>
  <div class="fb-share-button" data-href="https://chaluny.github.io/%D7%9E%D7%94%D7%95-%D7%94%D7%AA%D7%95%D7%A6%D7%A8/" data-layout="button_count" data-size="small" data-mobile-iframe="true">
    <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fchaluny.github.io%2F%25D7%259E%25D7%2594%25D7%2595-%25D7%2594%25D7%25AA%25D7%2595%25D7%25A6%25D7%25A8%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a>
  </div>
  <div class="entry">
    {{ content }}
  </div>
  <div class="PageNavigation">
     <a class="homie" href="{{site.url}}">לעמוד הראשי</a>
  {% if page.previous.url %}
    <a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
  {% endif %}
  {% if page.next.url %}
    <a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
  {% endif %}
</div>
    {% include disqus.html %}
</article>

